{% extends 'base.html' %} 
{% load i18n %}

{% block content %}
<main class="home">
	<section class="hero-section text-center">
		<div class="container container--narrow">
			<div class="hero-section__box">
				{% blocktrans %}
					<h2>CONNECT WITH <span>DEVELOPERS</span></h2>
					<h2>FROM AROUND THE WORLD</h2>
				{% endblocktrans %}
			</div>

			<div class="hero-section__search">
				<form class="form" action="" method="get">
					<div class="form__field">
						<label for="formInput#search">{% trans 'Search Developers' %}</label>
						<input
							class="input input--text"
							id="formInput#search"
							type="text"
							name="query"
							placeholder="{% trans 'Search by developer name' %}"
							value=""
						/>
					</div>

					<input class="btn btn--sub btn--lg" type="submit" value="{% trans 'Search' %}" />
				</form>
			</div>
		</div>
	</section>
	<!-- Search Result: DevList -->
	<section class="devlist">
		<div class="container">
			<div class="grid grid--three">
				{% for developer in developers %}
					<div class="column card">
						<div class="dev">
							<a
								href="/profile/9b086564-a3bd-4810-ad16-f55c97ad40d2/"
								class="card__body"
							>
								<div class="dev__profile">
									<img
										class="avatar avatar--md"
										src="https://res.cloudinary.com/dhtrn05k4/image/upload/v1/devsearch-media/profiles/ULUGBEK_UMARALIEV_m8abet"
										alt="Ulugbek Umaraliyev"
									/>
									<div class="dev__meta">
										<h3>{{ developer.fullname }}</h3>
										<h5>{{ developer.occupation }}</h5>
									</div>
								</div>
								<p class="dev__info">
									{{ developer.bio|truncatechars:200 }}
								</p>
								<div class="dev__skills">
									<span class="tag tag--pill tag--main">
										<small>Python</small>
									</span>

									<span class="tag tag--pill tag--main">
										<small>Django</small>
									</span>

									<span class="tag tag--pill tag--main">
										<small>JavaScript</small>
									</span>

									<span class="tag tag--pill tag--main">
										<small>ReactJS</small>
									</span>

									<span class="tag tag--pill tag--main">
										<small>MySQL</small>
									</span>

									<span class="tag tag--pill tag--main">
										<small>PostgreSQL</small>
									</span>
								</div>
							</a>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
</main>
{% endblock content %}
