{% load i18n %}
<header class="header">
	<div class="container container--narrow">
		<a href="/" class="header__logo">
			<img src="/static/images/logo.svg" alt="DevSearch Logo" />
		</a>
		<nav class="header__nav">
			<input type="checkbox" id="responsive-menu" />
			<label for="responsive-menu" class="toggle-menu">
				<span>Menu</span>
				<div class="toggle-menu__lines"></div>
			</label>
			<ul class="header__menu">
				<li class="header__menuItem"><a href="/">{% trans 'Developers' %}</a></li>
				<li class="header__menuItem"><a href="/projects/">{% trans 'Projects' %}</a></li>

				<li class="header__menuItem">
					<a href="/login/" class="btn btn--sub">{% trans 'Login/Sign Up' %}</a>
				</li>
				<form id="language-form" action="{% url 'set_language' %}" method="post">{% csrf_token %}
					<input name="next" type="hidden" value="{{ redirect_to }}">
					<select style="background-color: var(--color-sub); color: white; border: none; padding: 2px 0;" id="language" name="language">
						{% get_current_language as LANGUAGE_CODE %}
						{% get_available_languages as LANGUAGES %}
						{% get_language_info_list for LANGUAGES as languages %}
						{% for language in languages %}
							<option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected {% endif %}>
								{{ language.code|upper }}
							</option>
						{% endfor %}
					</select>
				</form>
			</ul>
		</nav>
	</div>
</header>

<script type="text/javascript">
	const languageForm = document.getElementById('language-form');
	const language = document.getElementById('language');
	
	language.addEventListener('change', () => languageForm.submit());
</script>
